// 颜色
@import '@/assets/scss/config.scss';

$colors: (
  "theme": $themeColor,
  "tran": transparent,
  "f2f2f2": #f2f2f2,
  '707070': #707070,
  'F6F8F8': #F6F8F8,
  "fff": #ffffff,
  "f7f7f7": #f7f7f7,
  "ededed": #ededed,
  "999": #999999,
  "666": #666666,
  '606266': #606266,
  'e2e2e2': #E2E2E2,
  '333': #303133,
  'ccc': #ccc,
  'red': red,
  'DCDFE6': #DCDFE6,
  'F0F2F5': #F0F2F5,
  'F1F3F6': #F1F3F6,
  'ED7B2F': #ED7B2F,
  '909399': #909399,
  'F5F7FA': #F5F7FA,
  'C0C4CC': #C0C4CC,
  'E9D2A8': #E9D2A8,
  '595959': #595959,
  '676b6f': #676b6f,
  'e7e7e7': #e7e7e7,
  '98B8BB': #98B8BB,
  '3B616B': #3B616B,
  '00B9D1': #00B9D1,
  'e7faf0': #e7faf0,
  '13ce66': #13ce66,
  'd0f5e0': #d0f5e0
);

// 字体大小
$base-font-size: 1rem;
$font-sizes: (
  xxs: 0.5,
  //8px
  xs: 0.625,
  //10px
  sm: 0.75,
  //12px
  md: 0.8125,
  //13px
  lg: 0.875,
  //14px
  xl: 1,
  //16px
  xxl: 1.125,
  //18px
  xxxl: 1.25,
  //20px
  xxxxl: 1.5,
  //24px
  xxxxxl: 1.875,
  //30px
  xxxxxll: 3,
  //48px
  xxxxxlll: 3.75,
  //60px
);
$flex-jc: (
  start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
  around: space-around,
  evenly: space-evenly,
);

$flex-ai: (
  start: flex-start,
  end: flex-end,
  center: center,
  stretch: stretch,
);

//.mt-1 => margin top
//spacing
$spacing-types: (
  m: margin,
  p: padding
);
$spacing-directions: (
  t: top,
  r: right,
  b: bottom,
  l: left,
);
$spacing-base-size: 1rem;
$spacing-sizes: (
  0: 0.5,
  //8px
  1: 0.625,
  //10px
  2: 0.6875,
  // 11px
  3: 0.75,
  //12px
  4: 0.8125,
  //13px
  5: 0.875,
  //14px
  6: 1,
  //16px
  7: 1.125,
  //18px
  8: 1.25,
  //20px
  9: 1.5,
  //24px
  10: 1.75,
  //28px
  11: 2,
  //32px
  12: 2.25,
  //36px
  13: 2.5,
  //40px
  14: 3.75,
  //60px
  15: 5,
  //80px
  16: 6.25,
  //100px
);

$radius-sizes: (
  0: 2px,
  1: 4px,
  2: 6px,
  3: 8px,
  4: 10px,
  5: 12px,
  6: 14px,
  7: 16px
);

$spacing-sizes1: (
  small: 13px,
  medium: 15px,
  0: 0,
  1: 2px,
  2: 4px,
  3: 6px,
  4: 8px,
  5: 10px,
  6: 12px,
  7: 14px,
  8: 16px,
  9: 18px,
  10: 20px,
  11: 22px,
  12: 24px,
  13: 26px,
  14: 28px,
  15: 30px,
  16: 32px,
  17: 34px,
  18: 36px,
  19: 38px,
  20: 40px,
  21: 42px,
  22: 44px,
  23: 46px,
  24: 48px,
  25: 50px,
  26: 52px,
  27: 54px,
  28: 56px,
  29: 58px,
  30: 60px,
  31: 62px,
  32: 64px,
  33: 66px,
  34: 68px,
  35: 70px,
  36: 72px,
  37: 74px,
  38: 76px,
  39: 78px,
  40: 80px,
  41: 82px,
  42: 84px,
  43: 86px,
  44: 88px,
  45: 90px,
  46: 92px,
  47: 94px,
  48: 96px,
  49: 98px,
  50: 100px,
  51: 102px,
  52: 104px,
  53: 106px,
  54: 108px,
  55: 110px,
  56: 112px,
  57: 114px,
  58: 116px,
  59: 118px,
  60: 120px,
  61: 122px,
  62: 124px,
  63: 126px,
  64: 128px,
  65: 130px,
  66: 132px,
  67: 134px,
  68: 136px,
  69: 138px,
  70: 140px,
  71: 142px,
  72: 144px,
  73: 146px,
  74: 148px,
  75: 150px,
  76: 152px,
  77: 154px,
  78: 156px,
  79: 158px,
  80: 160px,
  81: 162px,
  82: 164px,
  83: 166px,
  84: 168px,
  85: 170px,
  86: 172px,
  87: 174px,
  88: 176px,
  89: 178px,
  90: 180px,
  91: 182px,
  92: 184px,
  93: 186px,
  94: 188px,
  95: 190px,
  96: 192px,
  97: 194px,
  98: 196px,
  99: 198px,
  100: 200px,
  101: 202px,
  102: 204px,
  103: 206px,
  104: 208px,
  105: 210px,
  106: 212px,
  107: 214px,
  108: 216px,
  109: 218px,
  110: 220px,
  111: 222px,
  112: 224px,
  113: 226px,
  114: 228px,
  115: 230px,
  116: 232px,
  117: 234px,
  118: 236px,
  119: 238px,
  120: 240px,
  121: 242px,
  122: 244px,
  123: 246px,
  124: 248px,
  125: 250px,
  126: 252px,
  127: 254px,
  128: 256px,
  129: 258px,
  130: 260px,
  131: 262px,
  132: 264px,
  133: 266px,
  134: 268px,
  135: 270px,
  136: 272px,
  137: 274px,
  138: 276px,
  139: 278px,
  140: 280px,
  141: 282px,
  142: 284px,
  143: 286px,
  144: 288px,
  145: 290px,
  146: 292px,
  147: 294px,
  148: 296px,
  149: 298px,
  150: 300px,
  151: 302px,
  152: 304px,
  153: 306px,
  154: 308px,
  155: 310px,
  156: 312px,
  157: 314px,
  158: 316px,
  159: 318px,
  160: 320px,
  161: 322px,
  162: 324px,
  163: 326px,
  164: 328px,
  165: 330px,
  166: 332px,
  167: 334px,
  168: 336px,
  169: 338px,
  170: 340px,
  171: 342px,
  172: 344px,
  173: 346px,
  174: 348px,
  175: 350px,
  176: 352px,
  177: 354px,
  178: 356px,
  179: 358px,
  180: 360px,
  181: 362px,
  182: 364px,
  183: 366px,
  184: 368px,
  185: 370px,
  186: 372px,
  187: 374px,
  188: 376px,
  189: 378px,
  190: 380px,
  191: 382px,
  192: 384px,
  193: 386px,
  194: 388px,
  195: 390px,
  196: 392px,
  197: 394px,
  198: 396px,
  199: 398px,
  200: 400px,
);
